<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../static/jquery-3.6.0.min.js"></script>
</head>
<body>

	<h2>Enter Developer Details</h2>
	<table>
		<tr>
			<td>Id</td>
			<td><input type="text" id="id" /></td>
		</tr>
		<tr>
			<td>First Name</td>
			<td><input type="text" id="FirstName" /></td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td><input type="text" id="LastName" /></td>
		</tr>
		<tr>
			<td colspan="2"><input type="button" id="submit" value="submit" /></td>
		</tr>
	</table>

	<div id="defectCountDiv" style="display: none">
		<h3>Defects assign to you</h3>
		High - <b><span id="highDefects"></span></b><br> Medium - <b><span
			id="mediumDefects"></span></b><br> Low - <b><span
			id="lowDefects"></span></b><br>
	</div>

	<script>
		$("#submit").click(function() {
			var developerData = {};
			developerData["id"] = $("#id").val();
			developerData["firstname"] = $("#FirstName").val();
			developerData["lastName"] = $("#LastName").val();

			$.ajax({
				type : 'POST',
				contentType : 'application/json',
				url : "getDefectCount",
				data : JSON.stringify(developerData),
				dataType : 'json',
				success : function(data) {
					$("#defectCountDiv").show();
					$("#highDefects").text(data.hiegh);
					$("#mediumDefects").text(data.medium);
					$("#lowDefects").text(data.low);
				}
			});
		});
	</script>
</body>
</html>